<thead>
<tr class="m-bill__tr">
    <td class="cl-1-2">№</td>
    <td class="cl-3">Товар</td>
    <td class="cl-1-2">Од.</td>
    <td class="cl-1">Кількість</td>
    <td class="cl-1">Ціна без ПДВ</td>
    <td class="cl-1">Сума без ПДВ</td>
</tr>
</thead>