@import "../../shared";

.c-back {
  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: $palette-dark;
  border-radius: 50%;
  background-color: $palette-clear;
  flex: none;

  .c-icon {
    color: inherit;
  }

  @include breakpoint-hover() {
    &:hover {
      color: $palette-attention;
      background-color: $palette-light;
    }
  }
}
