@import "../../shared";

.c-form-layout {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;

  &__back {
    width: 100%;
    flex: none;
    padding-bottom: 20px;
  }

  &__aside {
    width: calc(100% - 600px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 70px;
  }
  &__main {
    width: 600px;
    display: block;
  }

  &__info {
    width: 100%;
    max-width: 400px;
    padding-left: 80px;

    .c-page-icon {
      margin-bottom: 10px;
    }
    .c-text {
      margin-bottom: 0.7em;
    }
  }

  &__info-wrapper {
    width: 100%;
    max-width: 310px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .c-text {
      margin-bottom: 0.7em;
      max-width: 100%;
    }
  }

  @include breakpoint-mobile-up() {
    &__info-wrapper {
      padding-left: 50px;
    }
  }

  @include breakpoint-tablet() {
    &__info {
      padding-left: 90px;
      max-width: none;
      position: relative;
      margin-top: 20px;
      min-height: 90px;

      .c-page-icon {
        position: absolute;
        left: 0;
        top: 0;
      }

      .c-text {
        max-width: 270px;
        margin-bottom: 0.4em;
      }
    }

  }

  @include breakpoint-mobile() {
    &__info {
      max-width: none;
      padding: 0 20px;
    }
  }

  @include breakpoint-tablet() {
    &__info {
      .c-text--h2 {
        font-size: 20px;
      }
    }
  }

  @include breakpoint-across-mobile-tablet() {
    flex-direction: column;

    &__aside {
      width: 100%;
      padding-bottom: 30px;
      padding-right: 0;

      > *:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    &__main {
      width: 100%;
    }
  }
}
