{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}  alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

            {{ message|trans }}
        </div>
    {% endfor %}
{% endfor %}