{% extends 'backend/_layout/layout.html.twig' %}

{% block page_title %}
    {% trans %}dashboard.heading{% endtrans %}
{% endblock %}

{% block content %}
    <div class="row">
    </div>
{% endblock %}