@import "../../shared";

.c-paper {

  width: 100%;
  height: auto;
  background-color: $palette-light;
  border-radius: 4px;
  padding: 40px 35px;

  &.is-square {
    border-radius: 0;
  }

  @include breakpoint-mobile() {
    padding: 30px 20px;
  }
}
