// Futura PT
@font-face {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/FuturaPT-Book.woff") format("woff");
}

@font-face {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/FuturaPT-Medium.woff") format("woff");
}

@font-face {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/FuturaPT-Demi.woff") format("woff");
}

@font-face {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/FuturaPT-Bold.woff") format("woff");
}



@font-face {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/icomoon.woff") format("woff"),
  url("../fonts/icomoon.svg?hqpxpw#icomoon") format("svg");
}
