{% extends 'emails/layout.html.twig' %}

{% block content %}
    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
        <tbody>
        <tr>
            <td style="border-bottom:1px solid #f6f6f6;">
                <h1 style="font-size:14px; font-family:arial; font-weight:bold; margin: 0px 0px 10px;">
                    Реєстрація на порталі ShellCards
                </h1>
            </td>
        </tr>
        <tr>
            <td style="padding:10px 0 30px 0;">
                <p>
                    Шановний клієнте!<br/>
                    Щиро вдячні за довіру Shell Retail Ukraine! Відтепер та надалі ми забезпечуватимемо Вас і Вашу
                    компанію пальним, а також – постійною підтримкою та турботою.
                </p>
                <p>
                    Заправляючись на АЗС Shell, Ви обираєте не лише сертифіковане пальне, але й сервіс найвищого рівня в
                    Україні, що відповідає міжнародним стандартам.
                </p>
                <p>
                    З чого розпочати?<br/>
                    Із простої реєстрації на сайті <a href="{{ url('frontend_company_register', { token: token }) }}">за посиланням</a>
                </p>
                <p>
                    Самостійно відстежуйте баланс, транзакції, встановлюйте ліміти та керуйте картками на власний розсуд
                    одразу ж після підтвердження реєстрації.
                </p>
                <p>
                    Володіючи паливною карткою, Ви маєте можливість вигідно заправлятись на всіх АЗС мережі Shell та у
                    партнерських мережах.
                </p>
                <p>
                    Скористайтесь також додатковими послугами:<br/>
                    Слідкуйте за паливним балансом і сплачуйте за послуги мийки та шиномонтажу. Повний перелік адрес АЗС
                    із доступним сервісом, а також деталі укладення Угоди на послуги Ви можете отримати, звернувшись до
                    персонального менеджера.
                </p>
                <p>
                    Гаряча лінія для наших клієнтів:<br/>
                    Із будь-якими запитаннями та пропозиціями звертайтеся за номером <a href="tel:0 800 307 502">0 800 307 502</a> чи пишіть на
                    електронну адресу <a href="mailto:ShellCardsUA@shell.com">ShellCardsUA@shell.com</a>
                </p>
                <p>
                    Вдячні за партнерство!
                </p>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}