@import "../../shared";
@import "~flatpickr/dist/plugins/monthSelect/style.css";

.c-range-datepicker {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;

  @include breakpoint-tablet() {
    grid-template-columns: 1fr 1fr;
  }
}

.flatpickr-monthSelect-theme-red .flatpickr-monthSelect-month:hover,
.flatpickr-monthSelect-theme-red .flatpickr-monthSelect-month:focus {
  background: rgba(#ef5350, 0.5);
  border-color: rgba(#ef5350, 0.5) !important;
}

.flatpickr-monthSelect-theme-red .flatpickr-monthSelect-month.selected {
  background: #ef5350;
}

.flatpickr-months {
  .flatpickr-month {
    height: 40px;
  }
  .flatpickr-prev-month,
  .flatpickr-next-month {
    display: none !important;
  }
  .flatpickr-monthSelect-month {
    user-select: none;
  }

  .numInputWrapper span {
    opacity: 1 !important;
  }
}

@include no-grid() {
  .c-range-datepicker {
    display: block;
    width: 100%;

    .c-field:not(:last-child) {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
