{% extends 'frontend/_layout/base.html.twig' %}
{% trans_default_domain 'frontend' %}

{% block title %}{% trans %}404 - Error page{% endtrans %}{% endblock %}

{% set hide_footer = true %}

{% block body %}
    <div class="m-error">
        <div class="m-error__content">
            <div class="m-error__code">
                <div class="m-error__wrapper">
                    <span class="m-error__num m-error__num--4"> </span>
                    <span class="m-error__num m-error__num--0"> </span>
                    <span class="m-error__num m-error__num--4"> </span>
                </div>
            </div>
            <div class="m-error__info">
                <div class="m-error__message">
                    <h1 class="c-text c-text--h4 a-color-dark">
                        {% trans %}Sorry, page no found{% endtrans %}
                    </h1>
                    <p class="c-text c-text--paragraph a-color-dark">
                        {% trans %}... The page you requested may have been moved or deleted. You may also have made a small typo when typing the address - even happens with us;){% endtrans %}
                    </p>

                    <a href="{{ path('frontend_homepage') }}" class="c-button c-button--primary">
                        {% trans %}To main{% endtrans %}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
