@import "../../shared";

.c-boundary-error {
  width: 100%;
  height: auto;
  padding: 20px;
  border: 1px solid $palette-attention;
  color: $palette-dark;
  font-size: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .c-text {
    text-align: center;
    margin-bottom: 0.5em;
  }
}
